.imageContainer{

    margin-top: 300px;
    

}

@media  (max-width: 991px) {
    .imageContainer {
        margin-top: 65px;

    }
  }

  .catgeory{
    margin-top: 135px;
    text-align: center;
    color: blue;
}

.catgeory span{
    color: brown;
}