.MainText{

    margin: 120px;
}


.MainText h1{

    color: white;
    font-size: 40px;
    font-style: italic;
    font-optical-sizing: 60px;
    font-weight: 990;
}

.MainText div{
    height: 2px;
    color: rgb(255, 153, 0);
    opacity: .75;
    border: 1px solid;
    border-radius: 25px;

}

.MainText p{
    color: white;
}

.MainText span{
    color: rgb(255, 153, 0);
}

.MainText button{

    background-color: rgb(245, 124, 88);
    border-radius: 25px;
    border:solid 3px white ;
    color: white;
  /*  padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;*/
    margin: auto;

}

.MainText button:hover{

    color: rgb(245, 124, 88);
    background-color:white;
    border:solid 3px rgb(245, 124, 88);




}