



.footer {
    width: 100%;
    display: inline-block;
    margin: 8em 0;
    margin-bottom: 0px;
    height: 70px;
    background-color: rgb(107, 5, 94);
  }
 .copyright {
    width: 50%;
    float: left;
  }
  @media (max-width: 600px) {
    .footer .copyright {
      width: 100%;
    }
  }
.footer .copyright h2 {
    padding-left: 10%;
    color: white;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  @media (max-width: 600px) {
    .footer .copyright p {
      text-align: center;
      padding: 0;
    }
  }


  .footer .copyright h2 span{
      color: red;
  }
.footer .social {
    width: 50%;
    float: right;
  }
  @media (max-width: 600px) {
    .footer .social {
      width: 100%;
    }
  }
  .footer .social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .footer .social a:hover {
    background-color: #222;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  .linked {
    background-color: #1E83AE;
    font-size: 1.2em;
    width: 20%;
  }
  
  .face {
    background-color: #3D5B94;
    font-size: 1.2em;
    width: 20%;
  }
  
  .tweet {
    background-color: #3DACDD;
    font-size: 1.2em;
    width: 20%;
  }
  
  .support {
    background-color: salmon;
    font-size: 0.8em;
    width: 40%;
  }
  