body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a.nav-link{
  color: white !important;
  margin: 4px !important;
  border-radius: 50px;
  border: solid 2px white;
  text-align: center;

}


a.nav-link:hover{
  color:rgb(65, 18, 64) !important;
  background-color: white;
  text-align: center;
  border: solid 2px rgb(65, 18, 64);
  text-decoration: none !important;
}


.navbar-toggler {
  border-color: salmon !important;
}




.carousel-control-next-icon,.carousel-control-prev-icon,.carousel-indicators .active{
  
  background-color: rgb(119, 176, 241) !important;
}


.page-link{

    background-color: rgb(133, 27, 131) !important;
}

.page-link span{
  color: whitesmoke !important;

}